fastapi==0.115.6
uvicorn[standard]==0.34.0
python-dotenv==1.0.1
litellm==1.55.12
aiohttp==3.11.11
pydantic==2.10.4
faster-whisper==1.1.0
soundfile==0.12.1
python-multipart==0.0.20
line-bot-sdk==3.14.2
pydub==0.25.1
pyright==1.1.391
ruff==0.8.4
redis==5.2.1
pytz==2024.2
